Module 4 Class 1/lambda-to-lambda-step-function/step_function_definition.json
{
  "Comment": "A description of my state machine",
  "StartAt": "process_order_data_lambda",
  "States": {
    "process_order_data_lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:851725469799:function:process-order-data:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Is_Delivered?"
    },
    "Is_Delivered?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.status",
          "StringMatches": "Delivered",
          "Next": "ingest_order_data_lambda"
        }
      ],
      "Default": "send_data_to_sqs",
      "OutputPath": "$.body"
    },
    "ingest_order_data_lambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:851725469799:function:ingest-order-data:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    },
    "send_data_to_sqs": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/851725469799/order-data-dlq"
      },
      "End": true
    }
  }
}